<div class="col-md-6">
  <h2 class="text-center">Add Project</h2>
<form>
  
   <div class="form-group">
    <label for="projectName">Name:</label>
    <input type="text" [(ngModel)]="project.projectName" placeholder="Project Name" name="projectName" class="form-control" id="projectName">
  </div>

  <div class="form-group">
    <label for="githubLink">Link:</label>
    <input type="text" [(ngModel)]="project.githubLink" placeholder="project Link" name="plink" class="form-control" id="plink">
  </div>

  <div class="form-group">
    <label for="projDescription">description:</label>
   <input type="text" [(ngModel)]="project.projDescription" placeholder="Project Description" name="projDescription" class="form-control" id="projDescription">
  </div>

  <button class="btn btn-success" (click)="createProject()" >Create</button>
</form>
</div>
